@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --color-bg-base: 255 255 255;
    --color-text-base: 0 0 0;
}

.dark {
    --color-bg-base: 0 0 0;
    --color-text-base: 255 255 255;
}

html, body {
    color: rgb(var(--color-text-base));
    background: rgb(var(--color-bg-base));
}
